---
layout: nil
---

@import 'normalize';
@import 'variables';
@import 'syntax-highlighting';



/*----------------------------------------
  #Defaults
----------------------------------------*/

* {
  box-sizing: border-box;
}



html {
  font-size: 16px;
}



body {
  margin: 0;
  font-family: $serif;
  line-height: $line-height;
  color: $white;
  -webkit-font-smoothing: antialiased;
}



sup {
  display: none;
  color: $orange;
  font-weight: 700;
}



code { color: $green; }



a {
  color: $orange;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $orange;
  }
}



/*----------------------------------------
  #Table-of-Contents
----------------------------------------*/

.table-of-contents-icon {
  position: fixed;
  top: 0.75rem;
  left: 0.75rem;
  opacity: 0.2;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  svg {
    fill: $dark-blue;
    stroke: $dark-blue;
    height: 2rem;
    width: 2rem;
  }
}

.table-of-contents-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: $dark-blue;
  opacity: 1;
  box-shadow: 2px 0px 5px #888;
  transform: translate3d(-320px,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

  .table-of-contents-container--shown {
  	transform: translate3d(0,0,0);
  }

  .table-of-contents-close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
    font-family: $sans-serif;
    opacity: 0.2;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    svg {
      fill: $white;
      height: 2rem;
      width: 2rem;
    }
  }

  .table-of-contents {
    height: 100%;
    padding: 2rem;
  }

  .table-of-contents__list {
    overflow: auto;
    max-height: 100%;
    width: 100%;
    padding-left: 0;
    opacity: 0.4;
    list-style-type: none;
    transform: scale(0.75);
    transition: transform 0.4s, opacity 0.4s;
    transition-delay: 0.1s;

    .table-of-contents-container--shown & {
      opacity: 1;
      transform: scale(1);
    }
  }

  .table-of-contents__header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;


    .table-of-contents__header__title {
      @include type-setting(2);
      margin-top: 0;
      margin-bottom: 0;
      font-family: $serif;
      font-style: italic;
      text-transform: uppercase;
      color: lighten($dark-blue, 20%);
    }

    .table-of-contents__header__divider {
      height: 1px;
      width: 100%;
      margin-left: 1rem;
      background-color: lighten($dark-blue, 20%);
    }
  }

  .table-of-contents__item {
    @include type-setting(-1);
    margin-top: 0.5rem;
    font-family: $sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    a {
      color: white;
      border-bottom: 0;

      &:hover {
        color: $orange;
      }
    }
  }



/*----------------------------------------
  #Modal
----------------------------------------*/

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: rgba($white, .95);
}

.modal {
  max-width: 600px;
  padding: 3rem;
  box-shadow: 0px 0px 20px #888;
  background-color: $dark-blue;
  color: $white;
}

  .modal__close {
    text-align: right;
    margin-top: -1.25rem;
    margin-right: -1.25rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: $sans-serif;
    opacity: 0.2;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .modal__header {
    @include type-setting(3);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lighten($dark-blue, 20%);
    margin-bottom: 2rem;
    font-family: $serif;
    font-style: italic;
    color: lighten($dark-blue, 20%);
    text-align: center;
  }

  .modal__info {
    @include type-setting(0);
    font-family: $sans-serif;
    text-align: justify;
  }

  .modal__excerpt {
    @include type-setting(0);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-left: 3px solid $white;
    padding-left: 1rem;
    font-style: italic;
    text-align: justify;
  }



/*----------------------------------------
  #Header
----------------------------------------*/

.header {
  height: 100%;
  margin-bottom: 3rem;
  padding: 3rem;
  color: $red;
  text-align: center;
  background-color: $white;
  background-image:  url(background.jpg);
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: top center;

  @media only screen and (min-width: $bp-mobile) {
    padding: 5rem;
  }
}

  .header__small-title {
    @include type-setting(1);
    margin-bottom: 1rem;
    font-family: $serif;
    font-style: italic;
    font-weight: bold;

    span {
      border-top: 1px solid #D40015;
      border-bottom: 1px solid #D40015;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  .header__divider {
    margin: 1.25rem auto;
    height: 3px;
    width: 5%;
    background-color: $dark-blue;
  }

  .header__title {
    @include type-setting(6);
    margin: 2rem auto;
    font-family: $sans_serif;
    font-weight: bold;
  }

  .header__info-text {
    @include type-setting(0);
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $dark-blue;
  }

  .header__version-number {
    @include type-setting(-1);
    color: $dark-gray;
    font-style: italic;
  }



/*----------------------------------------
  #Section-Heading
----------------------------------------*/

.section-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 1rem;
  color: $red;
  background-color: $white;

  @media only screen and (min-width: $bp-mobile) {
    padding: 1rem 3rem 0 3rem;
  }

  &.html svg {
    width: 3rem;
    height: 3rem;
  }

  &.css svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  &.tools svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  svg, path {
    fill: $dark-blue;
    stroke: $dark-blue;
  }
}

  .section-header__title {
    @include type-setting(3);
    margin-left: 1rem;
    font-family: $serif;
    font-style: italic;
    text-transform: uppercase;
  }

  .section-header__divider {
    height: 1px;
    width: 100%;
    margin-left: 1rem;
    background-color: #e8e8e8;
  }



/*----------------------------------------
  #Section
----------------------------------------*/

.section {
  display: table;
  table-layout: fixed;
  width: 100%;
}



/*----------------------------------------
  #Main
----------------------------------------*/

.main {
  padding: 1rem;
  color: $dark-blue;

  @media only screen and (min-width: $bp-mobile) {
    display: table-cell;
    width: 50%;
    padding: 3rem;
  }
}

  .main__title {
    @include type-setting(1);
    padding-bottom: 0.4rem;
    border-bottom: 5px solid $dark-blue;
    font-family: $sans-serif;
    text-transform: uppercase;
  }

  .main__title-border {
    padding-bottom: 0.2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $dark-blue;
    line-height: 1.2;
  }

  .main__list {
    list-style-type: circle;
  }

  .main__sublist {
    margin-top: 0.5rem;
  }

  .main__list-item,
  .main__sublist-item {
    padding-bottom: 0.5rem;
  }



/*----------------------------------------
  #Aside
----------------------------------------*/

.aside {
    padding: 1rem;
    color: $dark-blue;

    @media only screen and (min-width: $bp-mobile) {
      display: table-cell;
      padding: 3rem;
      width: 50%;
    }
}

  .aside__nav {
    @include type-setting(1);
    padding-left: 0;
    padding-bottom: 0.2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $dark-blue;
    font-family: $sans_serif;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
  }

  .aside__nav-item {
    display: inline;
    padding-bottom: 0.4rem;
    color: $dark-blue;
    list-style-type: none;
    cursor: pointer;
    transition: color 0.25s, border 0.25s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);

    &:first-child {
      margin-right: 1rem;
    }
  }

  .aside__nav-item--selected {
    padding-bottom: 0.75rem;
    border-bottom: 5px solid $dark-blue;
    color: $dark-blue;
  }

  .aside__info {
    display: none;
  }

  .aside__info--selected {
    display: block;
  }

  .aside__info-list-item {
    padding-bottom: 0.5rem;
  }



/*----------------------------------------
  #Footer
----------------------------------------*/

.footer {
  padding: 1rem;
  color: $white;
  text-align: center;
  background-color: $dark-blue;

  @media only screen and (min-width: $bp-mobile) {
    padding: 3rem;
  }
}

  .footer__copyright {
    @include type-setting(-1);
  }
