<header class="header">
  <div class="header__container">
    <div class="header__text">
      <div class="header__text__small-title"><span>the HTML & CSS<span></div>
      <div class="header__text__title"> Workmanship Manual</div>
      <div class="header__text__divider"></div>
      <div class="header__text__info-text">Write front-end code that's durable, reliable<br />and would make NASA proud.</div>
      <div class="header__text__version-number">v 0.1 - <a href="#" class="header__info-modal">Why Workmanship?</a></div>
    </div>
  </div>
</header>
