<div class="modal__background"></div>

<div class="modal__wrapper">
  <div class="modal">
    <div class="modal__close">X</div>
    <header class="modal__header">Why Workmanship?</header>
    <div class="modal__info">Here's an excerpt from <a href="https://nepp.nasa.gov/index.cfm/5511">
      NASA's Workmanship Standards Program website</a> about
      what workmanship means for them:
    </div>
    <div class="modal__excerpt">
      &ldquo;Workmanship promotes standardized designs and fabrication practices to
      enhance assembly durability and reliability and restricts the use
      of designs and manufacturing processes known to reduce those qualities.&rdquo;
    </div>
    <div class="modal__info">
      Sounds like it'd fit well for front-end code, too. The other obvious reason
      is I just love all things space.
    </div>
  </div>
</div>
