<div class="table-of-contents-icon">
    {% include icons/toc.html %}
</div>

<div class="table-of-contents-container">
    <div class="table-of-contents-close">
        X
    </div>

    <nav class="table-of-contents">
        <ul class="table-of-contents__list">
            <li class="table-of-contents__header html">
              <h2 class="table-of-contents__header__title">HTML</h2>
              <div class="table-of-contents__header__divider"></div>
            </li>
            <li class="table-of-contents__item"><a href="#h-elements">Elements</a></li>
            <li class="table-of-contents__item"><a href="#h-attributes">Attributes</a></li>
            <li class="table-of-contents__item"><a href="#h-courtesies">Courtesies</a></li>
            <li class="table-of-contents__item"><a href="#h-reminders">Reminders</a></li>

            <li class="table-of-contents__header css">
              <h2 class="table-of-contents__header__title">CSS</h2>
              <div class="table-of-contents__header__divider"></div>
            </li>
            <li class="table-of-contents__item"><a href="#c-formatting">Formatting</a></li>
            <li class="table-of-contents__item"><a href="#c-sass">SASS</a></li>
            <li class="table-of-contents__item"><a href="#c-css">CSS</a></li>
            <li class="table-of-contents__item"><a href="#c-naming-conventions">Naming Conventions</a></li>
            <li class="table-of-contents__item"><a href="#c-commenting">Commenting</a></li>
            <li class="table-of-contents__item"><a href="#c-courtesies">Courtesies</a></li>

            <li class="table-of-contents__header tools">
              <h2 class="table-of-contents__header__title">Tools</h2>
              <div class="table-of-contents__header__divider"></div>
            </li>
            <li class="table-of-contents__item"><a href="#t-editor-settings">Editor Settings</a></li>
            <li class="table-of-contents__item"><a href="#t-plugins">Plugins</a></li>
            <li class="table-of-contents__item"><a href="#t-resources">Resources</a></li>
        </ul>
    </nav>
</div>
