<svg width="100%" height="100%" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
  <g>
    <circle cx="19.8" cy="19.8" r="18.829" style="fill:none;stroke-width:2px;stroke:#000008;"></circle>
    <circle cx="19.8" cy="19.8" r="12.801" style="fill:none;stroke-width:2px;stroke:#000008;"></circle>
    <circle cx="19.8" cy="19.8" r="5.992" style="fill:#000008;"></circle>
    <circle cx="6.884" cy="5.983" r="3.121" style="fill:#fff;stroke-width:2px;stroke:#000008;"></circle>
    <circle cx="31.468" cy="25.142" r="1.971" style="fill:#fff;stroke-width:2px;stroke:#000008;"></circle>
  </g>
</svg>
