<ol class="aside__info-list">
  <li class="aside__info-list-item"><span>Putting in a hashtag with a title comment, makes it easier to search
    and quicker to parse when you're scrolling through your code.</span></li>
  <li class="aside__info-list-item"><span>Putting comments next to individual properties muddles up your code.
    It's easier to see everything you're doing at a glance when your
    comments are grouped to the block/component.</span></li>
  <li class="aside__info-list-item"><span>Your code already explains what you're doing. It's better to tell the reasoning
    behind why you made the choices you made, especially if they are
    modifications to existing components.</span></li>
</ol>
