<ol class="aside__info-list">
  <li class="aside__info-list-item">Putting in a hashtag with a title comment, makes it easier to search
    and quicker to parse when you're scrolling through your code.</li>
  <li class="aside__info-list-item">Putting comments next to individual properties muddles up your code.
    It's easier to see everything you're doing at a glance when your
    comments are grouped to the block/component.</li>
  <li class="aside__info-list-item">Your code already explains what you're doing. It's better to tell the reasoning
    behind why you made the choices you made, especially if they are
    modifications to existing components.</li>
</ol>
