<ol class="aside__info-list">
  <li class="aside__info-list-item"><span>Using <code>rem</code> values makes it easier to scale a
    site via media queries since <code>rem</code> is based on the
    <a href="http://www.w3.org/TR/css3-values/#font-relative-lengths">root font size</a>.
    There are other <a href="https://css-tricks.com/rems-ems/">alternatives</a>
    <a href="https://mindtheshift.wordpress.com/2015/04/02/r-i-p-rem-viva-css-reference-pixel/">to</a>
    <a href="http://webdesign.tutsplus.com/tutorials/comprehensive-guide-when-to-use-em-vs-rem--cms-23984">consider</a>
    <a href="https://j.eremy.net/confused-about-rem-and-em/">though</a>.</span>
  </li>
  <li class="aside__info-list-item"><span>If you're only adding a left margin, it's clearer if you do <code>margin-left: 1rem</code>
    over <code>margin: 0 0 0 1rem</code>. It also erases the chance of
    getting unnecessarily overwritten later.</span>
  </li>
</ol>
