<ol class="aside__info-list">
  <li class="aside__info-list-item">SASS has many powerful tools, but these can make your code difficult to
    maintain if you're not careful and confusing for the next guy who touches it.</li>
  <li class="aside__info-list-item">On any decent-sized site, specificity
    problems can and will arise rather quickly. Extending your components
    later will be difficult as well.</li>
  <li class="aside__info-list-item">Defaults to help out the next guy and make the code easier to scan.</li>
</ol>
