<ol class="aside__info-list">
  <li class="aside__info-list-item"><span>Not required according to the <a href="http://www.w3.org/TR/html4/intro/sgmltut.html#h-3.3.4.2">spec</a> - if a boolean attribute is present,
    it's true; if it's not, it's false.</span></li>
  <li class="aside__info-list-item"><span>The order follows what the most common attributes are. Almost every
    element will have class, most will have an id, some will have data
    attributes, etc. This makes it easier to mentally parse.</span></li>
</ol>
